.wrapper {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 400px;
} 

.border {
    max-width: 250px;
    position: relative;
    background: linear-gradient(to top, #C79B3C, #161B22);
    padding: 2px; 
    
}

.border:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    box-shadow: 0 0 30px #C79B3C;
  
}

.content {
    text-align: center;
    position: absolute;
    color:blanchedalmond;
    padding: 0 0 40px 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(24, 22, 22, 0) 0%, rgb(10, 10, 10,  0.95) 60%);
    backdrop-filter: blur(1px); 
    border-radius: 0 0 5px 5px;
} 


.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;	
    background: linear-gradient(0deg, rgba(66,73,79,0.8) 35%, rgba(255,255,255,0) 100%);
}

.tags {
    color: #C79B3C;
    font-weight: 600;
}
