.wrapper {
  background-color: #161B22;
  height: 80px;
  display: flex;
  align-items:center;
  position: sticky;
  top: 0;
  z-index: 3;

}

/* .wrapper:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    box-shadow: 0 0 30px #C79B3C;
} */

.content {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  height: 40px;
}

