.wrapper {
  background-color: #161B22;
  height: 80px;
  display: flex;
  align-items:center;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 10px 20px 10px 20px;
  
}



.content {
  /* max-width: 1440px; */
  margin: 0 auto;
}

.logo {
   height: 40px;

}

.icon {
  height: 35px; 
  filter: invert(65%) sepia(100%) saturate(280%) hue-rotate(3deg) brightness(94%) contrast(89%);
  
}




