.sidebar {
   
 
    color: #C79B3C;
    width: 120px;
    height: 100%;
    font-size: 21px;
    transform: translateX(-100%);
    transition: all 0.4s;
    position: fixed;
    /* height: 550px;
    margin-top: 175px; */
   
    
   
}

.sidebar li {
    list-style: none;
    padding: 40px 20px;
    border-bottom: #C79B3C solid 1px;
    border-top: #C79B3C solid 1px;
    
}

.sidebar li:hover {
    background-color: #0D1117;
  
}

.sidebarOpen {
    transform: translateX(0%);  
}

.content {
    min-height: 100%;
    /* margin-top: 80px; */
    background-color: #161B22;
  
}