.sidebar {
    color: #C79B3C;
    width: 120px;
    height: 100%;
    font-size: 21px;
    transform: translateX(-100%);
    transition: all 0.4s;
    position: fixed;
    /* height: 550px;
    margin-top: 175px; */
}

.sidebar li {
    list-style: none;
    padding: 40px 20px;
    border-bottom: #C79B3C solid 1px;
    border-top: #C79B3C solid 1px;
    
}



.sidebarOpen {
    transform: translateX(0%);  
}

/* .content {
    min-height: 100%;
   
} */


.contentLight {
    min-height: 100%;
    background-color: #FFF8DC;
  }


.contentDark {
    min-height: 100%;
    background-color: #161B22;
  }

.contentLight li:hover {
    background-color: #F0FFFF ;
}

.contentDark li:hover {
    background-color: #0D1117;
}